@import "tailwindcss";

@theme {
  --font-display: "Playfair Display", serif;
  --font-body: "Inter", sans-serif;
  --color-bordeaux: #7A2634;
  --color-or: #B8935F;
}

body {
  font-family: var(--font-body);
  background-color: #FAF7F3;
  color: #221F1D;
}